<div id="footer">
  <ul id="footerList">
    <li id="footerUl">&nbsp;Ben </li>
    <li id="footerUl">&nbsp;Michael, </li>
    <li id="footerUl">&nbsp;Jeff, </li>
    <li id="footerUl">&nbsp;Janet, </li>
    <li id="footerUl">Created by: </li>
  </ul>  
</div>