<div id="header">
  <ul id="headerList">
    <li id="headerUl">@Html.ActionLink("Reviews", "Index", "Reviews")</li>
    <li id="headerUl">@Html.ActionLink("Restaurants", "Index", "Restaurants")</li>
    <li id="headerUl">@Html.ActionLink("Cuisines", "Index", "Categories")</li>
    <a href="@Url.Action("", "/")">
    <li id="homeImageUl"><img id="imageHome" src="https://static.thenounproject.com/png/901844-200.png"></a></li>
  </ul>
</div>