@{
  Layout = "_Layout";
}

@model BestRest.Models.Category

<h4>Add a New Cuisine</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, 
    new {@required="required"})
    <input type="submit" value="Add new cuisine" class="btn btn-info btn-sm"/>
}
<br>
<p>@Html.ActionLink("Show all cusines", "Index", null, null, new { @class = "btn btn-info btn-sm" })
</p>